doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Home
        div.navButton
            a(href="/update-cobj") Add to this table
        table.table-musics
            thead
                tr
                    th Name
                    th Artist
                    th Category
            tbody
                each value in response
                    tr
                        td #{value.properties.name}
                        td #{value.properties.artist}
                        td #{value.properties.category}